<div class="flex-spaced_between flex-dynamic_element_dispersion">
    
    <section class="title left-menu  "><app-navigation-menu />1</section>

    <section class="title center-search_bar full_width">
        <div *ngIf="enableSearchBar===true; else searchBar">
            <img class="tiny-icon" src={{searchIcon.getImage().getUrl()}} (mouseenter)="showSearchBar()">
        </div>
        <ng-template #searchBar >
            <div (mouseleave)="showSearchBar()" type>
                <section class="section-search">a
                    <form (ngSubmit)="showSearchBar()" formGroup]="ticketSearchForm" #formDir="ngForm">

                        <input class="input-search_bar" type="text" pInputText formControlName="searchInput" > 
                        <button type="submit" label="Pesquisar"></button>
                    </form>
                </section>
            </div>
        </ng-template>
    </section>

    <section class="title right-user_menu"><app-user-menu /></section>
        
</div>

