<div class="flex-spaced_between flex-dynamic_element_dispersion">

    <section class="title left-menu  "><app-navigation-menu /></section>

    <section class="title center-search_bar full_width">
        <div class="div-search" *ngIf="enableSearchBar===false; else searchBar" (mouseenter)="showSearchBar()">
            <img class="tiny-icon search-icon" src={{searchIcon.getImage().getUrl()}}>
        </div>
        <ng-template #searchBar>
            <div class="div-search" (mouseleave)="showSearchBar()">
                <input class="input-search_bar" type="text" pInputText (input)="fillSearchInputField($event)" placeholder="Search...">
                <img class="tiny-icon search-icon" src={{searchIcon.getImage().getUrl()}}>
            </div>

        </ng-template>
    </section>

    <section class="title right-user_menu"><app-user-menu /></section>

</div>