.center-search_bar{
    margin-top: 5px
}

.input-search_bar {
    width: 0px;
    height: 5vh;

    opacity: 0%;

    border-radius: 25px;
}

.div-search {
    display: inline-flex;

    border-radius: 25px;
    padding: 0px 1px 0px 1px;
    
    height: 5.3vh;
    max-height: fit-content;
    max-width: 95%;

}

.div-search:hover > .input-search_bar {
    width: 70vh;

    transition: all 0.35s;

    opacity: 60%;
    background-color: #4bcf2eb2;
}

.search-icon {
    margin: 10px;
}   