.full_width{
  width: 100%;
  background-color: antiquewhite;
}

.flex-spaced_between {
  display: flex;
  justify-items: space-between;
  background-color: blue;
}

.flex-dynamic_element_dispersion{
  flex: 1 1 auto;
  background-color: aqua;
}

.title {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.medium-icon{
  width: 35px;
}

.tiny-icon{
  width: 25px;;
}

